@import 'variables.scss';

body {
  font-family: $font-family-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: rgb(130,209,115);
  background: linear-gradient(180deg, rgba(130,209,115,1) 57%, rgba(102,187,85,1) 100%);  
  color: $dark-green;
  min-height: 100vh;
}

// .main-body-wrap {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
// }

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

.filter-heading {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

.border-tb {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
}

//  ----------------------------- BUTTONS
.btn-primary {
  background: $medium-purple;
  border-color: $medium-purple;
  &:hover {
    background: $dark-purple;
    border-color: $dark-purple;
  }
}

.btn-primary {
  &:disabled {
    cursor: none;
    background: $gray-500;
    border-color: $gray-500;
  }
}

.btn-outline-primary, a.btn-outline-primary {
  border-color: $medium-purple;
  color: $medium-purple;
  &:hover {
    background: $medium-purple;
    color: $white;
    border-color: $medium-purple;
  }
}

//  ----------------------------- HELPER CLASSES
// helper class to capitalize elements that come in lower case from this janky API
.capitalize {
  text-transform: capitalize;
}

.strain-list {
  list-style: none;
  padding-left: 0;
}

//  ----------------------------- ANIMATION STYLES
// .example-enter {
//   opacity: 0.01;
// }

// .example-enter.example-enter-active {
//   opacity: 1;
//   transition: opacity 500ms ease-in;
// }

// .example-leave {
//   opacity: 1;
// }

// .example-leave.example-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

.example-appear {
  // opacity: 0.01;
  position: relative;
  top: -50px;
  z-index: 20;
}

.example-appear.example-appear-active {
  // opacity: 1;
  top: 0;
  transition: all .4s ease-in;
}