@import '../../styles/global/variables.scss';

#mainnav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $light-green;
}

span {
  font-weight: bold;
  display: inline-block;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin-left: 15px;
}

nav a {
  color: #192c14;
  font-weight: bold;
  &:hover {
    color: $white;
  }
}