@import '../../styles/global/variables.scss';

.active {
  .strain-list__item {
    background: $dark-purple;
    h3, span {
      color: $white;
    }
  }
}

.strain-list__item {
  border-top: 1px solid $gray-300;
  span {
    font-weight: $font-weight-normal;
    font-size: $font-size-base * 0.9;
  }
  .strain-race {
    text-transform: capitalize;
  }
}